@font-face {
    font-family: 'static';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format(truetype);
}

:root{
    --color-background:hsl(47, 88%, 63%);
    --container-background: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 42%);
    --head: hsl(0, 0%, 7%);
}

body{
    background-color: var(--color-background);
    padding: 0.5rem;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2rem;
    background-color: var(--container-background);
    border-radius: 10px;
    width: 1440px;
    height: 500px;
    text-align: center;
    font-size: 14px;
    font-family: 'static';
    box-shadow: 10px 10px var(--head);
}

.heroic-image {
    height: auto;
    width: 300px;
    border-radius: 10px;
}

.btn{
    background-color: var(--color-background);
    border: none;
    margin-right: 220px;
    border-radius: 2px;
    padding: 5px;
    padding-right: 12px;
    text-align: center;
    padding-left: 12px;
    font-weight: bolder;
}

.mini{
   text-align: left; 
   color: var(--head);
   font-weight: 500;
}

.header {
    text-align: left;
    color: var(--head);
    font-weight: bolder;
}

.text {
    color: var(--text);
    text-align: left;
}

.avatar {
    width : 50px;
    height: 50px;
}

.greg{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
@media screen and(min-width: 375px){
    .container{
        font-size: 40px;
    }
}
